:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;

}
body, html {

    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-X: hidden; ; */
}
.text-logo{
    color: #0d6fa9;
}