.body-left {
    /* width: 50vw; */
    height: 100vh;
    background-image: url(Access/img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.body-right {
    /* width: 50vw; */
    height: 100vh;
    background-image: url(Access/img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-p {
    position: relative;
}

.header-logo {
    position: absolute;
    top: 10px;
    left: 170px;
}

.input-tk-mk{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;

    width: 503px;
    height: 51px;
    left: 929px;
    top: 435px;

    background: #F0F0F0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;

    margin: 20px 0;
}
.input-tk-mk:focus{
    outline: none;
    ;
    
    
}
.btn-login{
    margin-top: 20px;
    padding: 8px 16px;
    width: 503px;
    height: 51px;
    left: 929px;
    top: 435px;

    
    background: linear-gradient(90.46deg, #151F6F 1.53%, #4B5E9A 96.93%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    transition: 0.3s;
    
}
.btn-login:hover{
   transform: scale(1.01);

}
._tk_mk i._eys{
    right: 30px ;
    left: auto;
    top: 42%;

}
._tk_mk i {
    position: absolute;
    left: 30px;
    top: 42%;
    color: #B3B3B3;

}
@media screen and (max-width: 768px) {
    .body-left {
        display: none;
    }
    .input-tk-mk{
        width: 350px;
        height: 51px;
    }
    .btn-login{
        width: 350px;
        
    }
}