.header-btn{
    /* color: var(--text-color); */
    /* color: red !important; */
    /* font-weight: 650!important; */
    border: 1px solid #7A8694
    ;

}
._border-light{
    padding: 20px 20px 0px 20px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 10px;
}
._border-light_2{
    padding: 0px 0px 0px 0px;
    /* margin-left: 10px; */
    border: 1px solid rgb(206, 206, 206);
    border-radius: 10px;
}
._border-bottom{
    /* padding: 0px 0px 0px 0px; */
    /* margin-left: 10px; */
    border-bottom: 1px solid rgb(206, 206, 206);
    /* border-radius: 10px; */
}
/* '#FCBD88',
            '#F87EB9',
            '#7FE6E5',
            '#7DBCFF' */
.text-light-pink{
    color:#F87EB9 ;    
}
.text-light-orange{
    color:#FCBD88 ;    
}
.text-light-blue{
    color:#7FE6E5 ;    
}
.text-light-blue2{
    color:#7DBCFF ;    
}
.chart_3-1{
    position: absolute;
    left: 20%;
    top: 50px;

}
.chart_3-i{
    color: #71A3FE;
    font-size: 50px !important;
}
.chart_3-2{
    position: absolute;
    right: 20%;
    top: 50px;
}
.chart_3-i2{
    color: #7A8694 ;
    font-size: 50px !important;
    color: rgba(0, 128, 0, 0.5);
}
@media screen and (max-width: 768px) {
    .chart_3-1{
        top: 15px;
        left: 0;
    }
    .chart_3-2{
        top: 15px;

        right: 0;
    }
    .chart_3-1 i{
        font-size: 40px !important;
        /* left: 0; */
        align-items: flex-start !important;

    }
    .chart_3-2 i{
        font-size: 40px !important;
        align-items: flex-end !important;

    /* right: 10%; */

    }
}
